// TODO: change tasks data
-
  var tasks_data = [
  {
    "title": "Кейс от Института ИТ и",
    "org1": "VK Education,",
    "org2": "VK Play,",
    "org3": "RuStore",
    "description": "Разработка мобильной AR-игры.",
    "radioId": "task1"
  },
  {
    "title": "Кейс от VK Play,",
    "org1": "VK Education,",
    "org2": "RuStore",
    "org3": "и Инстутита ИТ",
    "description": "Мобильное AR-приложение для геймификации ИТ-мероприятий.",
    "radioId": "task2"
  }] 

mixin task(data)
  article.task
    div
      h3.title= data.title
      h3.title=data.org1
      h3.title=data.org2
      h3.title=data.org3
      p.description
        = data.description
    div
      label(for=data.radioId)
        span.button.taskButton Выбрать кейс

section.tasks#tasks-section
  h2.tasks__header Задачи
  .tasks__content
    each singleTask in tasks_data
      +task(singleTask)
